{% extends 'books/base.html'%}
{% block content %}



	<!-- About us -->
	<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			<article class="portfolio-wrapper">
				<div class="portfolio__img">
					<img src="/media/website_images/about-me.jpg" class="about-me__profile" alt="about me profile picture">
				</div>
				<div class="portfolio__bottom">
					<div class="portfolio__name">
						<span>O</span>
						<h2 class="universal-h2">nline library</h2>
					</div>
					<p>Online library is a graduation project for Basic IT Center Python course</p>
				</div>
			</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">About us</h2>
						<p><span>O</span>ur team has 3 members. Anna, Vladislav and Milena. We are proud students of Basic IT Center. This project would be impossible to create without support of our great teacher Tigran. This is very basic Online Library. Hopefully you will like this humble project. </p>


					</div>

				</div>
			</div>
		</div>

		<div class="about-me-bckg"><img src = "/media/website_images/about-me-bckg.jpg" class = 'background-image' > </div>
	</section>
	<!-- About us end -->
{% endblock%}