{% extends 'books/base.html' %}
{% block content %}
<div align="center">
<h1> Online Library </h1>
<h2>{{book.title}}</h2>
    <img src='{{ book.book_image.url }}' width="200px" style="border-radius: 0%">
    <br>
    <h3>Description</h3>
        <div style="width: 500px">
        <p style="font-size: 15px; text-align: center" >
        {{book.description}}
        </p>
        </div>

    <p>File:<a href="{{ book.pdf_file.url }} " >
        <button>read</button></a>
<a href="{% url 'book_download' book.id %}" >
        <button>click here for download</button></a></p>
</div>
{% endblock %}
