{% extends 'books/base.html' %}
{% block content %}
<h1 align="center"> Online Library </h1>
<form action="{% url 'search_results' %}" method="get" >
  <input name="q" type="text" placeholder="Search...">


    {{ form.as_table }}
    <button> Search </button>
</form>

<br>
<div>

<ul>   <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Language</th>
            <th>Publish year</th>
            <th>Age group</th>
            <th>...</th>
        </tr>
        {% for book in users %}
        <tr>

            <td><a href="{% url 'book_view' book.id %}">{{book.title}}</a></td>
            <td><a href="{% url 'book_view' book.id %}">{{book.author}}</a></td>
            <td><a href="{% url 'book_view' book.id %}">{{book.category}}</a></td>
            <td><a href="{% url 'book_view' book.id %}">{{book.language}}</a></td>
            <td><a href="{% url 'book_view' book.id %}">{{book.publish_year}}</a></td>
            <td><a href="{% url 'book_view' book.id %}">{{book.get_age_group_display}}</a></td>
            <td><a href="{% url 'book_view' book.id %}"> more</a></td>

        </tr>
        {% endfor%}
    </table>

</ul>
    </div>
{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
