{% extends 'books/base.html' %}
{% block content %}
			<h2 class="universal-h2 universal-h2-bckg">{{book.title}}</h2>


<div align="left">
<center>


    <img src='{{ book.book_image.url }}' width="200px" style="border-radius: 0%">
    <br>
    <br>
<h3 >Downloaded times {{ book.downloaded_times }}</h3>
<a href="{% url 'book_download' book.id %}" >
    <p><a href="{{ book.pdf_file.url }}" download="{{ book.pdf_file.url }}">
                       <button class="brand-button">download</button></a></p>
</a>
</center>
</div>
    <br>
{% endblock %}