{% extends 'books/base.html'%}
{% block content%}
{% load crispy_forms_tags %}



<!--h2 class="universal-h2 universal-h2-bckg">Profile Info</h2>-->
<center>
<footer class="site-footer">
		<div class="site-container">

		<h1>Profile Info</h1>
    <p align="center">
    <br>

    <img src='{{ prof.avatar.url }}' width="200px" alt="Avatar">
    <br>
First name: {{ prof.first_name }}
    <br>
    Last name: {{ prof.last_name }}
    <br>
    Age: {{ prof.age }}
    <br>
    Username: {{ request.user.username }}
  <br>
    <a href="{% url 'profileupdate' %}" > <button class="brand-button">Update</button></a>
    </p>
  </div>




{% endblock content %}