{% extends 'books/base.html' %}
{% block content%}
{% load crispy_forms_tags %}


	<footer class="site-footer">
		<div class="site-container">
			<div class="footer-inner">
               	<div class="footer-contact-form">
					<h5>Please Sign Up</h5>
					<form method="post" class="contact-form">
                       {% csrf_token %}
						{{form|crispy}}
                       <br>
                   		<input type="submit" name="submit" value="Submit" class="submit-button">
                         <br> If you already have an account please <a href="{% url 'login' %}"> Login</a>
					</form>
				</div>
			</div>
		</div>
    </footer>


       <!--<form method="post">
{% csrf_token %}
{{form|crispy}}
<br>
<button type="submit">Submit</button>
   <br> If you already have an account please <a href="{% url 'login' %}"> Login</a>
</form> -->

{% endblock content%}
